$font-stack: Arial, Helvetica, sans-serif;
$font-size-small: 0.75rem;
$font-size-mid: 1.1rem;
$font-size-large: 2rem;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-stack;
}

.weather-icon{
    animation-name: weather-icon;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes weather-icon {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }   
}
.time{
    font-size: 2rem;
}

.not-vis{
    opacity: 0;
    transition: 0.5s;
};
.vis{
    opacity: 1;
    transition: 0.5s;
}
.justify-text{
    text-align: justify;
}
.column{
    display: flex;
    flex-direction: column;
}

body{
    margin: auto;
    background-image: url('./img/normal.jpg');
    background-position-x: center;
    background-position-y: center;
}

.search-btn{
    background-color: white;
    width: 5vw;
    height: 5vh;
    vertical-align: middle;
}
#search-bar{
    vertical-align: middle;
    margin:auto;
}
.search-btn:hover{
    cursor: pointer;
}

.fa-solid{
    vertical-align: middle;
    font-size: $font-size-large;
}


@media only screen and (min-width: 915px){
    html {
        font-size: 12px;
    }
    main{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .widget{
        background-color: rgba($color: black, $alpha: 0.8);
        border-radius: 20%;
        margin: 1%;
        min-width: 18vw;
        margin-top: 12vh;
        padding-bottom: 2%;
        box-shadow: 3px 2px 2px black;
        .inner-widget{
            color: white;
            display: flex;
            max-height: 90vh;
            flex-direction: column;
            .img{
                margin: auto;
                height: 18vh;
            }
            .day{
                display: flex;
                flex-direction: column;
                text-align: center;
                .weekday{
                    font-size: $font-size-large;
                }
            }
            *{
                justify-self: center;
                align-self: stretch;
            }
            .time{
                margin: auto;
            }
            .misc{
                display: grid;
                grid-template-rows: 4fr 3fr;
                *{
                    margin: 2px;
                    padding: 1px;
                    font-size: $font-size-small;
                }
                .temp{
                    font-size: $font-size-large;
                    color: white;
                    text-shadow: 2px 2px black;
                }
                .desc{
                    font-size: $font-size-mid;
                }
            }
        }
    }
    
    
    
    header{
        position: fixed;
        height: 8vh;
        background-color: rgba($color: black , $alpha: 0.8);
        width: 100%;
        z-index: 1000;
    }
}    

@media only screen and (max-width: 916px){
    html {
        font-size: 16px;
    }

    main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .widget{
        background-color: rgba($color: black, $alpha: 0.8);
        border-radius: 20%;
        margin: 5%;
        margin-top: 12vh;
        box-shadow: 3px 2px 2px black;
        padding-bottom: 5%;
        .inner-widget{
            color: white;
            display: flex;
            max-height: 90vh;
            min-width: 16vh;
            flex-direction: column;
            .img{
                padding-top: 5%;
                margin: auto;
                height: 18vh;
                transform: scale(1.3);
            }
            .day{
                display: flex;
                flex-direction: column;
                text-align: center;
                .weekday{
                    font-size: $font-size-large;
                }
            }
            *{
                justify-self: center;
                align-self: stretch;
            }
            .time{
                margin: auto;
            }
            .misc{
                display: grid;
                grid-template-rows: 4fr 3fr;
                *{
                    margin: 2px;
                    padding: 1px;
                    font-size: $font-size-small;
                }
                .temp{
                    font-size: $font-size-large;
                    color: white;
                    text-shadow: 2px 2px black;
                }
                .desc{
                    font-size: $font-size-mid;
                }
            }
        }
    }
    
    
    
    header{
        position: fixed;
        height: 8vh;
        background-color: rgba($color: black , $alpha: 0.8);
        width: 100%;
        z-index: 1000;
    }
}




// 
