@use 'main';

li {
    list-style: none;
}

//for the .weather-icon animation
@keyframes bob-up-down {
    0% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(2vh)
    }

    100% {
        transform: translateY(0px)
    }
}

i {
    margin-right: 3px;
}

//Styles for the main wethaer cards;
#container {
    position: relative;
    top: 9vh;
    padding: 0.2vh 1vw;

    .weather-card {
        border-radius: 10%;
        background: main.$main-color;
        display: none;
        flex-direction: column;
        width: 18vw;
        font-size: main.$font-size-small;
        margin: 0.5%;
        opacity: 0;
        transition: all 0.4s ease;

        ul {
            padding-left: 0;
            list-style: none;
            padding: main.$normal-padding * 2;

            li ul.day {
                justify-content: center;
                align-items: center;
                padding: 5px;
                flex-direction: column;
                font-size: main.$font-size-mid;
            }

            li.img {
                .weather-icon {
                    animation-name: bob-up-down;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                }
            }

            //Tempurature line
            li.temp {
                text-align: center;
                align-items: center;
                font-size: main.$font-size-mid;
            }

            //Precipitation line
            li.precipitation {
                text-align: center;

                progress {
                    width: 50%;
                }
            }

            //The description of the forcast
            li.desc {
                text-align: center;
                font-size: main.$font-size-mid;
                border-bottom: 1px main.$secondary-color solid;
                margin-bottom: 3px;
            }

        }

        //The Details for the Weather Cards
        .misc {
            li {
                width: 14vw;
                text-align: justify;
                padding: 5px;
            }
        }
    }

    .weather-card.visable {
        display: flex;
        opacity: 1;
        transition: all 0.4s ease;
    }
}

//Below are the arrow buttons for desktop
#left-right-btn {
    button {
        border: transparent;
        background: transparent;
        z-index: 100;
    }

    button:hover {
        opacity: 0.8;
    }

    button#left {
        position: absolute;
        left: 0;
        top: 45%;
        height: 10%;
    }

    button#right {
        position: absolute;
        right: 0;
        top: 45%;
        height: 10%;
    }
}

@media (max-width: 768px) {

    header .navbar {
        height: 12vh;
    }

    body {
        overflow-y: scroll;
    }

    .navbar section .menu li #C-F-btn {
        margin: 0px auto 0px 3%;
    }

    .navbar section .menu {
        width: 100vw;
    }

    .navbar section .menu li#learning-info ul li {
        width: main.$sidebar-menu-width-mobile;
        font-size: main.$font-size-mid;
        margin-left: 3%;
    }

    #info-square {
        top: 0;
        left: 50%;
        width: 50%;
        height: 35%;
        padding: 5%;
    }

    .navbar section .menu li ul#favorites-menu {
        margin: 5vh auto 1vh 3vw;
    }

    .navbar section .menu li ul#favorites-menu li {
        width: 100%;
    }

    .navbar section .menu li ul#favorites-menu li p {
        font-size: main.$font-size-mid;
    }

    #container {
        //margin-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;

        .weather-card {
            margin-top: 5vh;
            height: 70vh;
            width: 80vw;
            min-height: 575px;
            flex-direction: column;

            .misc {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                li {
                    height: 5vh;
                    width: 15vw;
                    text-align: center;
                    margin: 10% 4%;
                    display: flex;
                    flex-direction: column;

                    i {
                        font-size: main.$font-size-mid;
                    }
                }
            }
        }
    }

    #left-right-btn {
        display: none;
    }
}