@use "main";

//Navbar Styles
header .navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  position: fixed;
  height: 7vh;
  width: 100%;
  z-index: 10;
  background: main.$main-color;
  border-bottom: 2px solid main.$secondary-color;
  overflow: none;
  section#search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 0 3vw;
    h2 {
      color: main.$font-color-primary;
      padding: main.$normal-padding;
    }
    form#search-form {
      display: flex;
      justify-content: center;
      align-items: center;
      * {
        margin: 2%;
      }
      .search-btn {
        border: none;
        background: transparent;
        color: white;
        font-size: main.$font-size-mid;
      }
      .search-btn:hover {
        opacity: 0.9;
        transform: scale(1.2);
      }
      input {
        text-align: center;
        border-radius: 5px;
        padding: main.$normal-padding;
      }
      input:hover {
        text-align: center;
        border-radius: 10%;
        opacity: 0.95;
      }
      #favorites-btn {
        border: none;
        background: transparent;

        i {
          animation: star-spin 5s ease infinite;
          color: white;
          font-size: main.$font-size-mid;
        }

        i:hover {
          color: gold;
        }
      }

      #favorites-btn.faved i {
        color: gold;
        animation: star-spin 5s ease infinite;
      }
    }
  }
}

@keyframes star-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

//Hamburger Menu Animation and Positioning

.navbar section {
  .hamburger {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 20px;
    background: main.$font-color-primary;
    height: 3px;
    z-index: 100;
    transition: all 0.8s ease;
  }

  .hamburger::after {
    content: "";
    position: absolute;
    top: -8px;
    width: 20px;
    background: main.$font-color-primary;
    height: 3px;
    z-index: 100;
    transition: all 0.8s ease;
  }

  .hamburger::before {
    content: "";
    position: absolute;
    top: 8px;
    width: 20px;
    background: main.$font-color-primary;
    height: 3px;
    z-index: 100;
    transition: all 0.8s ease;
  }

  //Create the menu toggler from a checkbox
  .toggler {
    opacity: 0;
    position: absolute;
    z-index: 10000;
    height: 50px;
    width: 30px;
    top: 0px;
    left: 5px;
  }

  //Sidebar Functionality
  .menu {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30vw;
    padding: 3vh 5%;
    background: main.$main-color;
    border-right: 2px solid main.$secondary-color;
    transform: translateX(-1000px);
    transition: all 0.5s ease;
  }

  //Sidebar List Styles
  .menu {
    li {
      list-style: none;
      border-bottom: 1px dotted main.$third-color;
      padding: main.$normal-padding;
      display: flex;
      vertical-align: middle;
      justify-content: center;
      align-items: center;
      text-align: justify;
    }
    //Styles for the information list in the menu
    li#learning-info ul li {
      text-align: justify;
      display: flex;
      justify-content: start;
      font-size: main.$font-size-small;
      width: main.$sidebar-menu-width;
      padding: main.$normal-padding;
      border: none;
      margin: 2px;
    }
    li#learning-info ul li p {
      padding: 2%;
    }
    li#learning-info ul li:hover {
      color: aquamarine;
      opacity: 0.8;
      cursor: pointer;
    }
    li#learning-info ul li .fa-chevron-right {
      justify-self: end;
    }
    li ul#favorites-menu li {
      font-size: main.$font-size-small;
      width: main.$sidebar-menu-width;
      border-bottom: none;
      cursor: pointer;
    }
    li ul#favorites-menu li p {
      color: main.$font-color-primary;
    }
    li ul#favorites-menu li p:hover {
      opacity: 0.7;
      color: main.$third-color;
    }
    li ul#favorites-menu li i {
      color: main.$third-color;
      margin-left: auto;
    }
    li ul#favorites-menu li i:hover {
      color: red;
      transform: scale(1.3);
    }
  }
}

//Hamburger menu toggler

.navbar section .toggler:checked + .hamburger::before,
.navbar section .toggler:checked + .hamburger::after {
  top: 0;
  transform: rotate(90deg);
}

.navbar section .toggler:checked + .hamburger {
  transform: rotate(225deg);
}

.navbar section .toggler:checked ~ .menu {
  opacity: 1;
  z-index: 10;
  transform: translateX(0px);
  transition: all 0.5s ease;
}

//Information square in center of screen

#info-square {
  display: block;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 30%;
  left: 30%;
  z-index: 1000;
  background: main.$main-color;
  padding: 4%;
  font-size: main.$font-size-small;
  opacity: 1;
  transform: scale(0);
  transition: all 0.6s ease-in-out;
}

#info-square.vis {
  display: block;
  opacity: 1;
  transform: scale(1);
  border-radius: 20%;
  transition: all 0.6s ease-in-out;
}

//Mobile Config
@media (max-width: 768px) {
  body header nav.navbar {
    padding: 10% 0;
    height: 10vh;
    section#search-bar {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      form#search-form {
        display: flex;
        flex-direction: row;
        align-content: center;
        input.search {
          height: 5vh;
        }
        button {
          margin: 0 1%;
        }
      }
      h2#location-name {
        font-size: main.$font-size-mid;
      }
    }

    .navbar section .menu li#learning-info ul li {
      width: main.$sidebar-menu-width-mobile;
      font-size: main.$font-size-mid;
      margin-left: 3%;
      width: 100%;
    }

    #info-square {
      top: 0;
      left: 50%;
      width: 50%;
      height: 35%;
      padding: 5%;
    }

    .navbar section .menu li ul#favorites-menu {
      margin: 5vh auto 1vh 3vw;
    }

    .navbar section .menu li ul#favorites-menu li {
      width: 100%;
    }

    .navbar section .menu li ul#favorites-menu li p {
      font-size: main.$font-size-mid;
    }
  }
}
